.button-mod {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: small;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  border: 1px solid #cccccc65;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card-link {
  margin-top: 20px;
  text-align: right;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fork-label {
  background-color: #49bf9d;
  color: #fff;
  padding: 0.2px 8px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: -5px;
}

.repo-name {
  font-weight: 600;
}

.repo-atr {
  font-weight: 600;
}

.repo-description {
  font-style: italic;
}

.license-icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}